# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual envs / Conda
venv/
env/
myenv/
.venv/

.env

# HuggingFace cache & models
models/
tmp_model/

llama.cpp/


# Streamlit / Gradio state
.streamlit/
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
